@import url('https://fonts.googleapis.com/css2?family=Atma&family=Dancing+Script&family=Delius+Swash+Caps&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&display=swap');

.moni {
    display: inline-block;
    width: 300px;
    border-radius: 150px;
    box-shadow: 0 0 90px #09b1cf;
    margin-top: 60px;
}

.text-div {
    display: inline-block;
    width: 800px;
    vertical-align: top;
    margin-left: 100px;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 30px;
}