@import url('https://fonts.googleapis.com/css2?family=Atma&family=Dancing+Script&family=Delius+Swash+Caps&family=Farsan&family=Kalam:wght@300;400&family=Londrina+Shadow&family=Rancho&family=Satisfy&display=swap');


.m-t-a {
    font-family: 'Satisfy', cursive;
    text-shadow: 0 0 25px #09b1cf;
}

.first-block {
    display: inline-block;
}

.moni {
    display: inline-block;
    width: 30%;
    border-radius: 150px;
    box-shadow: 0 0 90px #09b1cf;
    margin-top: 90px;
}

.text-div {
    display: inline-block;
    /* width: 100%; */
    vertical-align: top;
    font-family: 'Farsan', cursive;
    font-size: 35px;
    margin-bottom: 0;
}

.first-p {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
}

.p-element {
    margin: 0;
}

.sip-pic {
    width: 250px;
    float: right;
    margin: 8px 0 0 8px;
    border-radius: 10px;
}

.artevent1 {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 30px #09b1cf;
}

.artevent2 {
    width: 400px;
    height: 300px;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 0 0 30px #09b1cf;
}

.animate {
    position: relative;
    animation: mymove 9s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    display: inline;
}

@keyframes mymove {
    from {left: -240px;}
    to {left: 240px;}
  }

.second-p {
    font-family: 'Farsan', cursive;
    font-size: 35px;
    margin-top: 0;
}