@import url('https://fonts.googleapis.com/css2?family=Atma&family=Dancing+Script&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&family=Zeyada&display=swap');


.c-title {
    font-family: 'Atma', cursive;
    font-size: 50px;
}

.nameInput {
    width: 300px;
    font-size: large;
    font-family: 'Farsan', cursive;
}

.nameInput:focus {
    box-shadow: 0 0 30px #09b1cf;
}

.emailInput {
    width: 400px;
    font-size: large;
    font-family: 'Farsan', cursive;
}

.emailInput:focus {
    box-shadow: 0 0 30px #09b1cf;
}

.messageInput {
    width: 575px;
    height: 300px;
    resize: none;
    font-size: x-large;
    font-family: 'Farsan', cursive;
}

.messageInput:focus {
    box-shadow: 0 0 30px #09b1cf;
}

.formText {
    font-size: xx-large;
    font-family: 'Farsan', cursive;
}

.sendBtn {
    background-color: lightpink;
    width: 80px;
    height: 50px;
    font-size: 25px;
    border-radius: 6px;
    border-color: rgb(206, 107, 123);
}

.resetBtn {
    margin-left: 20px;
    background-color: rgb(164, 132, 173);
    width: 80px;
    height: 50px;
    font-size: 25px;
    border-radius: 6px;
    border-color: rgb(137, 71, 150);
}