.footer {
    background-color: lightgreen;
    height: 150px;
    margin: 40px 0 0 0;
}

.blockOne {
    display: inline-block;
    width: 20%;
}

.blkOneTxt {
    color: rgb(110, 110, 110);
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    margin-left: 20px;
}

.blockTwo {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 60px;
    color: rgb(110, 110, 110);
}

/* .blkTwoTxt {
    margin: 0;
    padding-bottom: 30px;
    vertical-align: top;
} */

.blockThree {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    color: rgb(110, 110, 110);
}

.IG {
    width: 30px;
}

.FB {
    width: 30px;
    border-radius: 7px;
    margin-left: 7px;
}