@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&family=Zeyada&display=swap');


.header {
    background-image: linear-gradient(to right, white, rgb(255, 250, 250), pink, rgb(231, 144, 159));
}

.logo {
    width: 11%;
    display: inline-block;
}

.home-title {
    display: inline-block;
    vertical-align: top;
    font-family: 'Kalam', cursive;
    text-align: center;
    width: 89%;
    margin-bottom: 0;
    margin-top: 3px;
    vertical-align: top;
    font-size: 80px;
}