@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&family=Zeyada&display=swap');


body {
    background-color: white;
}

.left-div {
    display: inline-block;
    width: 250px;
    padding: 20px;
}

.butterflies {
    display: inline-block;
    width: 200px;
    border-radius: 100px;
    box-shadow: 12px 12px 18px grey;
    margin-bottom: 60px;
}

.beachBabes {
    display: inline-block;
    width: 250px;
    border-radius: 100px;
    box-shadow: 12px 12px 18px grey;
}

.middle-div {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin-left: 100px;
    margin-right: 100px;
}

.main-img {
    width: 400px;
    margin-top: 20px;
}

.right-div {
    display: inline-block;
    width: 250px;
    padding: 20px;
}

.pianoDate {
    display: inline-block;
    width: 260px;
    border-radius: 100px;
    box-shadow: 12px 12px 18px grey;
    margin-bottom: 60px;
}

.greenIvy {
    display: inline-block;
    width: 200px;
    border-radius: 100px;
    box-shadow: 12px 12px 18px grey;
}