@import url('https://fonts.googleapis.com/css2?family=Atma&family=Dancing+Script&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&family=Zeyada&display=swap');

.s-title {
    font-family: 'Atma', cursive;
    font-size: 50px;
    margin: 9px;
}

.sectionOne {
    display: inline-block;
    width: 45%;
    /* height: 300px; */
    background-image: linear-gradient(rgba(158, 67, 158, 0.671), rgba(255, 192, 203, 0.596));
    font-size: 25px;
    border-radius: 200px;
    margin: 100px 40px;
    box-shadow: 0 0 90px #a141aa;
}

.art {
    width: 100%;
    border-radius: 150px;
}

.art1 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.containerTwo {
    margin-top: 3%;
}

.art2 {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.artpictwo {
    display: inline-block;
    width: 100%;
    border-radius: 125px;
    /* vertical-align: top; */
}

.textContainer {
    display: inline-block;
    width: 45%;
    /* height: 300px; */
    /* background-image: linear-gradient(rgba(116, 50, 116, 0.568), rgba(241, 103, 184, 0.596), rgba(255, 192, 203, 0.596), white); */
    font-size: 25px;
    border-radius: 200px;
    margin: 70px 0 0 40px;
    background-color: #a141aa77;
    box-shadow: 0 5px 90px #a141aa;
}